name: Update packages

on:
  schedule:
    - cron: '0 1 */7 * *'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v6

    - name: Update and test
      run: |
        npx npm-check-updates -u
        npm i
        npm run lint
        npm run build

    - name: Commit files
      run: |
        git config --local user.email "action@github.com"
        git config --local user.name "GitHub Action"
        git commit -m "ncu -u" -a --allow-empty

    - name: Push changes
      uses: ad-m/github-push-action@master
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
